<div class="ui special cards centered">

	<% @printing_sets.each do |printing_set| %>
    <% discount = printing_set.printing_hub.discount_multiplier %>

		<div class="card">
		  <div class="blurring dimmable image">
		    <div class="ui dimmer">
		      <div class="content">
		        <div class="center">
		          <%= form_tag("/add_to_cart", method: "post") do %>
		            <input type="hidden" value="<%=printing_set.id%>" name="printing_set_id"/>
		            <input type="submit" value="Add To Cart" class="ui inverted button"/>
		          <% end %>
		        </div>
		      </div>
		    </div>
		    <img src="<%= printing_set.image %>">
		  </div>
		  <div class="content">
		    <%= link_to printing_set.name, printing_set, class: 'header' %>
        <% if discount != 1 %>
          <%= printing_set.printing_hub.discount %>% off!
        <% end %>
		    <div class="meta">
		      <span class="date">Created at <%= printing_set.created_at.strftime('%v') %></span>
		    </div>
				<div class="description">
		      <%= truncate(printing_set.description, :length => 40) %> <%= link_to "read more", printing_set, class: 'header' %>
		    </div>
		  </div>
			<div class="extra content">
		    <span class="right floated" id="icon">
		      <a href="<%= printing_set_path(printing_set) %>">
		        <i class="image outline icon"></i>
		      </a>
		    </span>
		    <% if discount == 1 %>
		      Ð <%= printing_set.doges %> + Shipping
		    <% else %>
		      <strike>Ð <%= printing_set.doges %> + Shipping</strike>
		      <br>
		      Ð <%= printing_set.doges * discount %> + Shipping
		    <% end %>
			</div>
		</div>

	<% end %>
</div>

<script>

$('.special.cards .dimmable').dimmer({
  on: 'hover'
});

$('.special.cards .extra .floated').hover(function(){
    $(this).transition('jiggle');
}, function(){});

</script>
