<div id="home">
  <div class="ui inverted masthead centered segment">
    <div class="ui page grid">
      <div class="column">
        <div class="ui secondary pointing menu">
          <a class="logo item">
            3DEasy.co
          </a>
<!--
          <a class="active item">
            <i class="flaticon-home"></i> Home
          </a>
          <a class="item">
            <i class="flaticon-mail"></i> Messages
          </a>
          <a class="item">
            <i class="flaticon-heart"></i> Friends
          </a>
-->
          <div class="right menu">
<!--
            <div class="item">
              <div class="ui icon input">
                <input placeholder="Search..." type="text">
                <i class="flaticon-position link icon"></i>
              </div>
            </div>
-->
            <% if !current_user %>
              <%= link_to "Log in", new_user_session_path, class: 'ui item' %>
              <%= link_to "Sign up", new_user_registration_path, class: 'ui item' %>
            <% else %>
              <%= link_to destroy_user_session_path, :method => :delete, :class => "ui item" do %>Sign out<%end%>
            <% end %>

          </div>
        </div>

        <div class="ui transition information visible" style="">
          <h1 class="ui inverted centered header">3DEasy.co</h1>
          <p class="ui centered lead">Dogecoin shop 3D Prints including doge figures.</p>
          <a id="home-button" href="/printing_sets" class="large basic inverted animated fade ui button">
            <div class="visible content">Get started</div>
            <div class="hidden content">Start Shoping Now</div>
          </a>
          <div class="ui centerted image" style="border: 0px">
            <img src="/img/banner.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical feature segment">
    <%=render 'features'%>

<!-- -->
    <div class="ui centered page grid" style="padding: 35px">
      <div class="ui form seven wide subscribe column">
        <div class="ui header">
          <h3 class="ui header centered">Subscribe to Mailing List</h3>
          <p class="ui header centered">Get special offers and updates straight to your inbox.</p>
        </div>
        <form class="ui form" action="/subscribe">
          <div class="field">
            <div class="ui fluid action input">
              <input name="email" placeholder="youremail@example.com" type="text">
              <button type="submit" class="right attached ui button">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>


    <%=render 'featured_items'%>
  </div>

  <%= render 'our_clients'%>

  <%= render 'footer'%>
</div>
