<div id="home">
  <div class="ui inverted masthead centered segment">
    <div class="ui page grid">
      <div class="column">
        <div class="ui secondary pointing menu">
          <a class="logo item">
            3DEasy.co
          </a>
          <div class="right menu">
            <% if !current_user %>
              <%= link_to "Log in", new_user_session_path, class: 'ui item' %>
              <%= link_to "Sign up", new_user_registration_path, class: 'ui item' %>
            <% else %>
              <%= link_to destroy_user_session_path, :method => :delete, :class => "ui item" do %>Sign out<%end%>
            <% end %>

          </div>
        </div>

        <div class="ui transition information visible" style="">
          <h1 class="ui inverted centered header">Dogecoin shop 3D Prints including doge figures</h1>
          <p class="ui centered lead">Subscribe to receive special offers and updates straight to your inbox.</p>

            <form class="ui form" action="/subscribe">
              <div class="fields">
                <div class="four wide field">
                </div>
                <div class="eight wide field">
                  <div class="ui right action input">
                    <input name="email" placeholder="youremail@example.com" type="text">
                    <button type="submit" class="right attached ui green button">Subscribe</button>
                  </div>
                </div>
              </div>
            </form>

          <div class="ui centerted image" style="border: 0px">
            <img src="/img/banner.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical feature segment">
    <%=render 'features'%>
    <%=render 'featured_items' %>
  </div>

  <%= render 'our_clients'%>

  <%=render 'footer'%>
</div>
