<div class="ui form">
<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= f.label :user_id %></strong></br>
    <%= order.user.username %>
  </div>

  <div class="field">
    <strong><%= f.label :order_state_id %></strong>
    <%= f.collection_select :order_state_id, OrderState.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :tracking_info %>
    <%= f.text_field :tracking_info %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
