<p id="notice"><%= notice %></p>

<h1>Order #<%= @order.id %></h1>

<% if current_user.has_printing_hub @order.printing_hub %>
  <%= link_to "Edit", edit_order_path(@order)  %>
<% end %>

<p>
  <strong>User</strong> <br>
  <%= @order.user.username %>
</p>

<p>
  <strong>State</strong> <br>
  <%= @order.order_state.name %>
</p>

<h2>Shipping</h2>

<p>
  <strong>Tracking Info</strong> <br>
  <%= @order.tracking_info %>
</p>

<p>
  <strong>Shipping type</strong> <br>
  <%= @order.shipping_type.name %>
</p>

<p>
  <strong>First Name</strong> <br>
  <%= @order.first_name %>
</p>

<p>
  <strong>Last Name</strong> <br>
  <%= @order.last_name %>
</p>

<p>
  <strong>Shipping address</strong> <br>
  <%= @order.shipping_address %>
</p>

<p>
  <strong>ZIP Code</strong> <br>
  <%= @order.zip_code %>
</p>

<h2>Payment</h2>

<p>
  <strong>Total</strong> <br>
  Ð <%= @order.doges %>
</p>

<p>
  <strong>Deposit your payment to this dogecoin address</strong> <br>
  <%= @order.doge_address %>
</p>

<p>
  <strong>Your deposits</strong> <br>
  Ð <%= @order.doge_deposits %> confirmed (Ð <%= @order.doge_deposits_unconfirmed %> unconfirmed)
</p>



<div id="qrcode"></div>
<script type="text/javascript">
new QRCode(document.getElementById("qrcode"), "<%= @order.doge_address %>");
</script>


<h1>Items</h1>

<% items_amount = 0 %>

<table class="ui celled table">
  <thead>
    <tr>
		  <th>Item</th>
		  <th>Amount</th>
		  <th></th>
    </tr>
  </thead>
  <tbody>
		<% @order.order_items.each do |order_item| %>
      <% items_amount += order_item.amount %>
		  <tr>
		    <td><%= order_item.printing_set.name %></td>
		    <td><%= order_item.amount %></td>
		    <td><%= link_to "Show", show_item_by_name_path(order_item.printing_set.printing_hub.id_and_paramterized_name,order_item.printing_set.id_and_paramterized_name), class: 'ui button' %></td>
		  </tr>
		<% end %>
  </tbody>
</table>
