<p id="notice"><%= notice %></p>

<h1>Printables</h1>

<table>
  <thead>
    <tr>
      <th>Printing set</th>
      <th>Github repo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @printables.each do |printable| %>
      <tr>
        <td><%= printable.printing_set_id %></td>
        <td><%= printable.github_repo %></td>
        <td><%= link_to 'Show', printable %></td>
        <td><%= link_to 'Edit', edit_printable_path(printable) %></td>
        <td><%= link_to 'Destroy', printable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Printable', new_printable_path %>
