<div class="ui order_<%= locals[:printing_set_id] %> modal">
  <i class="close icon"></i>
  <div class="header">
    Add order
  </div>
  <div class="image content">
    <div class="description">

			<%= form_for @order, html: {class: 'ui form' } do |f| %>
				<% if @order.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

						<ul>
						<% @order.errors.full_messages.each do |message| %>
						  <li><%= message %></li>
						<% end %>
						</ul>
					</div>
				<% end %>

				<div class="field">
					<%= f.hidden_field :printing_set_id, value: locals[:printing_set_id] %>
				</div>

				<div class="field">
					<%= f.label :shipping_address %>
					<%= f.text_area :shipping_address %>
				</div>

				<div class="field">
					<%= f.label :shipping_type_id %>
					<%= f.collection_select :shipping_type_id, @printing_hub.shipping_types.all, :id, :name %>
				</div>

				<div class="actions">
					<%= f.submit "Submit", class: "ui button" %>
				</div>
			<% end %>

    </div>
  </div>
</div>
