<%= form_for printing_hub, html: {class: 'ui form' } do |f| %>
  <% if printing_hub.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(printing_hub.errors.count, "error") %> prohibited this printing_hub from being saved:</h2>

      <ul>
      <% printing_hub.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :discount %>
    <%= f.text_field :discount %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <label for="image" class="ui icon button">
        <i class="file icon"></i>
        Open File</label>
    <%= f.file_field :image, style: "display:none", id: "image" %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Submit", class: "ui button" %>
  </div>
<% end %>
