<p id="notice"><%= notice %></p>

<%= render 'add_shipping_modal' %>
<%= render 'add_printing_set_modal' %>
<%= render 'add_printer_modal' %>

<% @printing_hub.printing_sets.each do |printing_set| %>
  <%= render 'add_order_modal', locals: {printing_set_id: printing_set.id} %>
<% end %>

<h1><%= @printing_hub.name %></h1>
<%= link_to 'Watch', @printing_hub, class: "ui button" %>
<%= link_to 'Edit', edit_printing_hub_path(@printing_hub), class: "ui button" %>

<h2>Members:</h2>

<table class="ui celled table">
  <thead>
    <tr>
		  <th>Email</th>
    </tr>
  </thead>
  <tbody>
		<% @printing_hub.users.each do |user| %>
		  <tr>
		    <td><%= user.email %></td>
		  </tr>
		<% end %>
  </tbody>
</table>

<h2>Shipping type:</h2>

<table class="ui celled table">
  <thead>
    <tr>
		  <th>Name</th>
		  <th>Doges</th>
    </tr>
  </thead>
  <tbody>
		<% @printing_hub.shipping_types.each do |shipping_type| %>
		  <tr>
		    <td><%= shipping_type.name %></td>
		    <td><%= shipping_type.doges %></td>
		  </tr>
		<% end %>
  </tbody>
</table>

<input type="button" class="ui button" value="New shipping method" onClick="$('.ui.shipping.modal').modal('show');"/>

<h2>Orders:</h2>


<table class="ui celled table">
  <thead>
    <tr>
		  <th>Image</th>
		  <th>User</th>
		  <th>Shipping address</th>
		  <th>Shipping type</th>
		  <th>State</th>
		  <th>Payment status</th>
		  <th></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>

<h2>Items:</h2>

<table class="ui celled table">
  <thead>
    <tr>
		  <th>Image</th>
		  <th>Name</th>
		  <th>Doges</th>
		  <th>Printables</th>
		  <th>Orders</th>
		  <th></th>
    </tr>
  </thead>
  <tbody>
		<% @printing_hub.printing_sets.each do |printing_set| %>
		  <tr>
		    <td><img width="150" src="<%= printing_set.image %>"/></td>
		    <td><%= printing_set.name %></td>
		    <td><%= printing_set.doges %></td>
		    <td><%= printing_set.printables.size %></td>
        <td>
          <input type="button" class="ui button" value="Order" onClick="$('.ui.order_<%= printing_set.id %>.modal').modal('show');"/>
          <%= link_to "Show", printing_set, class: "ui button" %>
        </td>
		  </tr>
		<% end %>
  </tbody>
</table>

<input type="button" class="ui button" value="New printing set" onClick="$('.ui.printing_set.modal').modal('show');"/>


<h2>Printers:</h2>

<table class="ui celled table">
  <thead>
    <tr>
		  <th>Name</th>
		  <th>Ip</th>
		  <th></th>
    </tr>
  </thead>
  <tbody>
		<% @printing_hub.printers.each do |printer| %>
		  <tr>
		    <td><%= printer.name %></td>
		    <td><%= printer.ip %></td>
        <td>
          <%= link_to "Show", printer, class: "ui button" %>
        </td>
		  </tr>
		<% end %>
  </tbody>
</table>

<input type="button" class="ui button" value="New printer" onClick="$('.ui.printer.modal').modal('show');"/>
