<p id="notice"><%= notice %></p>

<h1>Printing Hubs</h1>

<div class="ui cards">
	<% @printing_hubs.each do |printing_hub| %>

		<div class="ui card">
			 <div class="ui slide masked reveal image">
				<img src="<%= printing_hub.image.url %>" class="visible content">
				<% printing_hub.printing_sets.each do |items| %>
					<img src="<%= items.image.url %>" class="hidden content">
				<% end %>
  		</div>
			<div class="content">
				<%= link_to printing_hub.name, printing_hub_path(printing_hub), :class => 'header' %>
				<div class="meta">	
				  <span class="date">Joined in <%= printing_hub.created_at.year %></span>
				</div>
				<div class="description">
				  <%= printing_hub.description %>
				</div>
			</div>
			<div class="extra content">
				<a>
				  <i class="shopping basket icon"></i>
					<%= link_to "#{printing_hub.printing_sets.count} Items", printing_hub_path(printing_hub)%>
				</a>
			</div>
		</div>
	<% end %>
</div>
