<p id="notice"><%= notice %></p>

<%= render 'add_printing_set_modal' %>

<h2>Items:</h2>

<table class="ui celled table">
  <thead>
    <tr>
		  <th>Image</th>
		  <th>Name</th>
		  <th>Description</th>
		  <th>Doges</th>
		  <th></th>
    </tr>
  </thead>
  <tbody>
		<% @printing_hub.printing_sets.each do |printing_set| %>
		  <tr>
		    <td><img width="150" src="<%= printing_set.image %>"/></td>
		    <td><%= printing_set.name %></td>
		    <td><%= printing_set.description %></td>
		    <td><%= printing_set.doges %></td>
        <td>
          <input type="button" class="ui button" value="Order" onClick="$('.ui.order_<%= printing_set.id %>.modal').modal('show');"/>
          <%= link_to "Show", printing_set, class: "ui button" %>
        </td>
		  </tr>
		<% end %>
  </tbody>
</table>

<input type="button" class="ui button" value="New printing set" onClick="$('.ui.printing_set.modal').modal('show');"/>

