<!DOCTYPE html>
<html>
  <head>
    <title>3DEasy.co</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="description" content="Shop 3D prints easily using Dogecoins.">
    <meta name="keywords" content="doge,dogecoin,cryptocurrency,shiba inu,shop,3d printing">
    <meta name="author" content="3DEasy">
    <meta property="og:url" content="http://3DEasy.co" />
    <meta property="og:title" content="3DEasy.co" />
    <meta property="og:image" content="/img/wow.png" />
    <meta property="og:description" content="Shop 3D prints easily using Dogecoins." />

    <link rel="stylesheet" href="/semantic/semantic.min.css"/>
    <link rel="stylesheet" href="/semantic/components/transition.css"/>
    <link rel="stylesheet" href="/semantic/components/dimmer.css"/>
    <link rel="stylesheet" href="/semantic/components/modal.css"/>
		<link href="https://fastcdn.org/Glide.js/2.0.4/css/glide.core.min.css" rel="stylesheet">
		<link href="https://fastcdn.org/Glide.js/2.0.4/css/glide.theme.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/semantic/semantic.min.js"></script>
    <script src="/semantic/components/transition.min.js"></script>
    <script src="/semantic/components/dimmer.min.js"></script>
    <script src="/semantic/components/modal.min.js"></script>
    <script src="/js/qrcode.min.js"></script>
		<script src="https://fastcdn.org/Glide.js/2.0.4/glide.min.js"></script>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-96858343-1', 'auto');
			ga('send', 'pageview');

		</script>

		<style type="text/css">
			body {
				background-color: #FFFFFF;
			}
			.ui.menu .item img.logo {
				margin-right: 1.5em;
			}
			.main.container {
				margin-top: 7em;
			}
			.wireframe {
				margin-top: 2em;
			}
			.ui.footer.segment {
				margin: 5em 0em 0em;
				padding: 5em 0em;
			}
			</style>
  </head>

  <body>

    <div class="ui fixed inverted menu">
		  <div class="ui container">
		    <a href="/" class="header item">
		      <img class="logo" src="/img/logo.png">
		    </a>
		    <%= link_to 'Home', root_path, class: "item" %>
			  <% if !current_user %>
				  <%= link_to "Sign in", "/users/sign_in", class: "item" %>
			  <% else %>
          <% if current_user.printing_hubs.size > 0%>
						<div class="ui simple dropdown item">
				      Hubs <i class="dropdown icon"></i>
						  <div class="menu">
				        <div class="divider"></div>
						    <div class="header">My hubs</div>
		            <% current_user.printing_hubs.each do |printing_hub| %>
		              <%= link_to printing_hub.name, "/printing_hubs/admin/"+printing_hub.id.to_s, class: "item" %>
		            <% end %>
				        <div class="divider"></div>
		            <%= link_to 'Add your hub', new_printing_hub_path, class: "item" %>
						  </div>
						</div>
					<% end %>
    		  <%= link_to 'Your Cart ('+current_user.cart_items.size.to_s+')', cart_path, class: 'item' %>
    		  <%= link_to orders_path, :class => "item" do %>Your Orders<%end%>
    		  <%= link_to destroy_user_session_path, :method => :delete, :class => "item" do %>Sign out<%end%>
			  <%end%>
		  </div>
		</div>

    <div class="ui main text container">
      <%= yield %>
    </div>
  </body>
</html>
